/*

    CSS Style for SideBar

*/


h3 { font-size: 5.17em; margin: .83em 0 }


#sibebar-nav {
    background-color : rgb(37,52,74);
    height: 100vh;
    padding:0px;
    overflow-x: scroll;
}


.sidebar-menu-item {
    color:white;
    font-size:17px;
}
.sidebar-menu-button {
    background-color: rgb(37,52,74);
}

.sidebar-menu-header {

    background-color:rgb(37,52,74);
    height:13vh;
}

.sidebar-menu-header-item {
    color:orangered;
    font-size:3vw
}

#sidebar-mutual-fund-nav >.active>a {
    background-color: green;
}

#sidebar-mutual-fund-nav >li:not(.active)>a:focus{
    background-color:rgb(37,52,74);
}


#sidebar-mutual-fund-nav > li:not(.active)> a:hover
{
    background-color: rgb(37,52,90,0.9);

}


/*
    Other CSS Components
*/


#wrapper {
    
    padding: 0px;
    height:100vh;
}


.toolbar {
    background-color:rgb(238,238,238);
    border-bottom: 1px solid green;
    height : 13vh;

}

.dashboard {
    background-color: rgb(238,238,238);
    height:87vh;
    overflow-y: scroll
}

#dashboard-row {
    margin-left: 0px;
}





